/*
    PluginDraft CSS styles
*/

.PluginDraft {  
}

.PluginDraftError {
    display: table;
    margin: 2px 0;
    border: 1px solid #f66;
    background-color: #fee;
}
.PluginDraftError div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f66;
    height: inherit;
}
.PluginDraftError span {
    display: table-cell;
    padding: 2px 4px;
    color: #f66;
}